{% extends "entries/base.html" %}
{% block content %}
    <h1 style="font-size: 50px; color: #7ED957; font-family: Averia Sans Libre; margin-left: 500px; margin-top: -60px;">Add Your Exercise!!</h1>
    <div id="formss">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" id="confirm-button" value="Confirm">
        </form>
            {% if entry %}
                <a href="{% url 'entry-detail' entry.id %}">
                    <button id="cancel-button">Cancel</button>
                </a>
            {% else %}
                <a href="{% url 'entry-list' %}">
                    <button>Cancel</button>
                </a>
        {% endif %}
    </div>
<style>
    #confirm-button {
    color: rgba(246, 246, 246, 0.885); 
    background-color: #7ED957; 
    margin-bottom: 10px;
    }

    #confirm-button:hover {
    background-color: #5c804f; /* Change the background color on hover */
    color: white;
    }
</style>
{% endblock %}