{% extends 'entries/base.html' %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <article>
            <h3>{{ "Choose the amount of time for this exercise/break! " }}</h3>
        </article>
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% if selected_option %}
        <p>You selected: {{ selected_option }}</p>
    {% endif %}

    {% if form.errors %}
    <div class="error-message">
        <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li> {{ field.errors.0 }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}