{% extends "entries/base.html" %}
{% load static %}
{% block content %}
    <article>
        <h3 style="color: rgba(246, 246, 246, 0.885); font-family: Averia Sans Libre; margin-top: -158px; margin-left: 250px;">{{ "Here are your previous five workouts. Selecting one will clear and replace the exercises in your current workout. Once loaded in, the exercises can be edited!" }}</h3>
    </article>
    <article>
        <div class="choose" style="margin-left: 480px; margin-top: -70px;">
            <form method="post" style="margin-top: -40px; margin-left: 100px;">
                {% csrf_token %}
                <legend style="color: #C85656; font-size: 30px; font-family: Averia Sans Libre; margin-left: -50px;">Choose Which Workout To Load</legend>
                {{ form.workouts }}
                <button type="submit" style="margin-top: 30px; color: rgba(246, 246, 246, 0.885); background-color: #7ED957; margin-left: 10px;">Load the workout!</button>
            </form>
        </div>
    </article>
            {% if existing_entry1 %}
            <h1 style="font-size: 30px; color: rgba(246, 246, 246, 0.885); font-family: Averia Sans Libre;"> Workout 1</h1>
            {% for entry in existing_entry1 %}
                <article>
                    <h3>
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Order in workout: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.order_in_workout }}</span>
                        </a>
                </h3>
                        <h3>
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Exercise: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.exercise }}</span>
                            </a>
                        </h3>
                        <h3>
                            
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Minutes: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.minutes }}</span>
                            
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Seconds: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.seconds }}</span>
                            </a>
                    </h3>
                </article>
            {% endfor %}
        {% else %}
            <noscript>
            </noscript>
        {% endif %}
        <br>
        <br>
        {% if existing_entry2 %}
            <h1 style="font-size: 30px; color: rgba(246, 246, 246, 0.885); font-family: Averia Sans Libre;"> Workout 2</h1>
            {% for entry in existing_entry2 %}
                <article>
                    <h3>
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Order in workout: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.order_in_workout }}</span>
                        </a>
                </h3>
                        <h3>
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Exercise: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.exercise }}</span>
                            </a>
                        </h3>
                        <h3>
                            
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Minutes: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.minutes }}</span>
                            
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Seconds: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.seconds }}</span>
                            </a>
                    </h3>
                </article>
            {% endfor %}
        {% else %}
            <noscript>
            </noscript>
        {% endif %}
        <br>
        <br>
        {% if existing_entry3 %}
            <h1 style="font-size: 30px; color: rgba(246, 246, 246, 0.885); font-family: Averia Sans Libre;"> Workout 3</h1>
            {% for entry in existing_entry3 %}
                <article>
                    <h3>
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Order in workout: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.order_in_workout }}</span>
                        </a>
                </h3>
                        <h3>
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Exercise: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.exercise }}</span>
                            </a>
                        </h3>
                        <h3>
                            
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Minutes: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.minutes }}</span>
                            
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Seconds: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.seconds }}</span>
                            </a>
                    </h3>
                </article>
            {% endfor %}
        {% else %}
            <noscript>
            </noscript>
        {% endif %}
        <br>
        <br>
        {% if existing_entry4 %}
            <h1 style="font-size: 30px; color: rgba(246, 246, 246, 0.885); font-family: Averia Sans Libre;"> Workout 4</h1>
            {% for entry in existing_entry4 %}
                <article>
                    <h3>
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Order in workout: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.order_in_workout }}</span>
                        </a>
                </h3>
                        <h3>
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Exercise: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.exercise }}</span>
                            </a>
                        </h3>
                        <h3>
                            
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Minutes: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.minutes }}</span>
                            
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Seconds: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.seconds }}</span>
                            </a>
                    </h3>
                </article>
            {% endfor %}
        {% else %}
            <noscript>
            </noscript>
        {% endif %}
        <br>
        <br>
        {% if existing_entry5 %}
            <h1 style="font-size: 30px; color: rgba(246, 246, 246, 0.885); font-family: Averia Sans Libre;"> Workout 5</h1>
            {% for entry in existing_entry5 %}
                <article>
                    <h3>
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Order in workout: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.order_in_workout }}</span>
                        </a>
                </h3>
                        <h3>
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Exercise: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.exercise }}</span>
                            </a>
                        </h3>
                        <h3>
                            
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Minutes: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.minutes }}</span>
                            
                            <span class="small-font" style="font-size: 20px; color: #C85656; font-family: Averia Sans Libre;">{{ "Seconds: "}}</span> <span class="small-font" style="font-size: 18px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.seconds }}</span>
                            </a>
                    </h3>
                </article>
            {% endfor %}
        {% else %}
            <noscript>
            </noscript>
        {% endif %}
        <br>
        <br>

    

    {% if form.errors %}
    <div class="error-message">
        <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li> {{ field.errors.0 }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
<style>

    .success-message {
        background-color: rgb(173, 216, 230);
        color: black;
        padding: 10px;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        text-align: center;
        z-index: 1000; 
    }


    .success-message p {
        margin: 5px 0; 
    }

    .error-message {
        background-color: rgb(232, 5, 5);
        color: black;
        padding: 10px;
        position: fixed;
        top: 0; 
        left: 50%;
        transform: translateX(-50%); 
        width: 80%;
        text-align: center;
        z-index: 1000;
    }


    .error-message p {
        margin: 5px 0;
    }
</style>
{% if messages %}
        {% for message in messages %}
        <div class="{% if message.tags == 'error' %}error-message{% elif message.tags == 'success' %}success-message{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
{% endif %}


{% endblock %}
