{% extends "entries/base.html" %}
{% block content %}
    <article>
        <div class="buttons">
            <a href="{% url 'buildworkout' %}"><button id="add-button">Add Your Own Exercise/Break</button></a>
            <a href="{% url 'choose-prev' %}"><button id="choose-button">Load A Past Workout</button></a>
            <a href="{% url 'premade' %}"><button id="load-button">Load A Premade Workout</button></a>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="start-button">Start Workout!!</button>
        </form>
    </article>

    <div class="workout-list">
        <ul id="exers">
            {% if entry_list %}
                <h1 style= "font-size: 15px; color: rgba(246, 246, 246, 0.885); margin-left: 530px; margin-top: 40px">Click on any element of the workout to edit it and click on the exercise to delete it.</h1>
                {% for entry in entry_list %}
                    <article>
                        <h3>
                            <a href="{% url 'entryorder-detail' entry.id %}">
                                <span class="small-font" style="font-size: 31px; color: rgba(246, 246, 246, 0.885) font-family: Averia Sans Libre;">{{ "Order in workout: "}}</span> <span class="small-font" style="font-size: 24px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.order_in_workout }}</span>
                            </a>
                    </h3>
                            <h3>
                                <a href="{% url 'entry-detail' entry.id %}">
                                    <span class="small-font" style="font-size: 31px; color: rgba(246, 246, 246, 0.885); font-family: Averia Sans Libre;">{{ "Exercise: "}}</span> <span class="small-font" style="font-size: 24px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.exercise }}</span>
                                </a>
                            </h3>
                            <h3>
                                <style>
                                    .time-values {
                                        margin-right: 10px;
                                    }
                                </style>
                                
                                <a href="{% url 'entrytime-detail' entry.id %}">
                                    <span class="small-font" style="font-size: 31px; color: rgba(246, 246, 246, 0.885); font-family: Averia Sans Libre;">{{ "Minutes: "}}</span> <span class="small-font" style="font-size: 24px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.minutes }}</span>
                                    <span class="small-font" style="font-size: 31px; color:rgba(246, 246, 246, 0.885); font-family: Averia Sans Libre;">{{ "Seconds: "}}</span> <span class="small-font" style="font-size: 24px; color: #7ED957; font-family: Averia Sans Libre;">{{ entry.seconds }}</span>
                                </a>
                        </h3>
                    </article>
                {% endfor %}
            {% else %}
                <p style="color: rgba(246, 246, 246, 0.885); margin-top: 92px;">Your workout is currently empty! Add your own exercises to the workout and click on any element of the workout to edit it once added!</p>
            {% endif %}
        </ul>
    </div>
<body>
    <p>
        <a href="{% url 'admin:logout' %}">
            <button id="logout-button">Logout</button>
    </p>
</body>

    {% if form.errors %}
    <div class="error-message" >
        <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li> {{ field.errors.0 }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
<style>

    .success-message {
        background-color: #7ED957;
        color: #C85656;
        padding: 10px;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        text-align: center;
        z-index: 1000;
        font-family: Averia Sans Libre;
    }


    .success-message p {
        margin: 5px 0;
    }

    .error-message {
        background-color: #C85656;
        color: #7ED957;
        padding: 10px;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        text-align: center;
        z-index: 1000;
        font-family: Averia Sans Libre;
    }


    .error-message p {
        margin: 5px 0;
    }

    #start-button {
    margin-top: 100px;
    color: rgba(246, 246, 246, 0.885); 
    background-color: #7ED957; 
    margin-left: 123px;
    }

    #start-button:hover {
    background-color: rgba(246, 246, 246, 0.885);
    color: #7ED957;
    }
    #add-button{
    font-size: 20px; 
    color: #C85656; 
    margin-right: 50px;
    background-color: rgba(246, 246, 246, 0.885); 
    font-family: Averia Sans Libre;
}

    #add-button:hover {
    background-color: rgba(192, 190, 190, 0.885);
    color: #C85656;
}

    #choose-button{
        font-size: 20px; 
        color: #C85656; 
        background-color: rgba(246, 246, 246, 0.885); 
        font-family: Averia Sans Libre;
    }

    #choose-button:hover {
        background-color: rgba(192, 190, 190, 0.885);
        color: #C85656;
    }

    #load-button{
        font-size: 20px; 
        color: #C85656; 
        background-color: rgba(246, 246, 246, 0.885); 
        font-family: Averia Sans Libre;
    }

    #load-button:hover {
        background-color: rgba(192, 190, 190, 0.885);
        color: #C85656;
    }
</style>
{% if messages %}
        {% for message in messages %}
        <div class="{% if message.tags == 'error' %}error-message{% elif message.tags == 'success' %}success-message{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
{% endif %}


{% endblock %}
