{% extends "entries/base.html" %}
{% block content %}
    <article>
        <h2 class="mark">{% now "Y-m-d H:i" %}</em></h2>
        <a href="{% url 'buildworkout' %}"><button>Add your own exercise</button></a>
        <a href="{% url 'entry-list' %}"><button>Choose a premade workout</button></a>
     </article>
     {% for entry in entry_list %}
         <article>
             <h3>
                <a href="{% url 'entryorder-detail' entry.id %}">
                    {{ "Order in workout: "}}{{ entry.order_in_workout }}
                </a>
           </h3>
                <h3>
                    <a href="{% url 'entry-detail' entry.id %}">
                        {{ "Exercise: "}}{{ entry.exercise }}
                    </a>
                </h3>
                <h3>
                    <style>
                        .time-values {
                            margin-right: 10px;
                        }
                    </style>
                    
                    <a href="{% url 'entrytime-detail' entry.id %}">
                        <span class="time-values">{{ "Minutes: " }}{{ entry.minutes }}</span>
                        <span>{{ "Seconds: " }}{{ entry.seconds }}</span>
                    </a>
            </h3>
        </article>
    {% endfor %}
{% endblock %}