{% extends 'entries/base.html' %}
{% block content %}


    <article>
        
        <div class="choose" style="margin-left: 480px; margin-top: -70px;">
            <form method="post" style="margin-top: -40px; margin-left: 100px;">
                {% csrf_token %}
                <legend style="color: #C85656; font-size: 41px; font-family: Averia Sans Libre; margin-left: -100px;">Edit The Time Of Your Exercise</legend>
                <h1 style="margin-left: -40px; margin-top: 50px; font-size: 34px; font-family: Averia Sans Libre; color: rgba(246, 246, 246, 0.885);">Minutes:</h1>
                <div id="form.minutes" style="margin-top: -65px; margin-left: 230px">
                    {{ form.minutes }}
                </div>
                <button type="submit" id="save-button">Save!</button>
                <button onclick="window.history.back();">Back</button>
            </form>
        </div>
    </article>
    {% if selected_option %}
        <p>You selected: {{ selected_option }}</p>
    {% endif %}

        {% if form.errors %}
        <div class="error-message">
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li> {{ field.errors.0 }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <style>
        #save-button {
        margin-top: 80px;
        color: rgba(246, 246, 246, 0.885); 
        background-color: #7ED957; 
        margin-left: 35px;
        }
    
        #save-button:hover {
        background-color: #5EA843; /* Change the background color on hover */
        color: white;
        }
    </style>
{% endblock %}