{% extends "entries/base.html" %}

{% block content %}
    <article>
        <h3 style="font-size: 40px; font-family: Averia Sans Libre; margin-left: 550px; color: rgba(246, 246, 246, 0.885);">{{ "EXERCISE: " }}<span style="color: #7ED957">{{ entry.exercise }}</span></h3>
    </article>
	<p>
		<a href="{% url 'entry-update' entry.id %}">
			<button id="edit-button">Edit</button>
		<a href="{% url 'entry-delete' entry.id %}">
			<button id="delete-button">Delete</button>
	</p>
<style>
	#edit-button{
		font-size: 30px; 
		color: #C85656; 
		margin-left: 650px; 
		margin-top: 30px;
		background-color: rgba(246, 246, 246, 0.885); 
		font-family: Averia Sans Libre;
	}

	#edit-button:hover {
		background-color: rgba(192, 190, 190, 0.885);
		color: #C85656;
	}

	#delete-button{
		font-size: 30px; 
		color: #C85656; 
		margin-left: 650px; 
		margin-top: 30px;
		background-color: rgba(246, 246, 246, 0.885); 
		font-family: Averia Sans Libre;
	}

	#delete-button:hover {
		background-color: rgba(192, 190, 190, 0.885);
		color: #C85656;
	}
</style>
{% endblock %}